<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPartLabel" jhiTranslate="jugMainzHipsterApp.part.home.createOrEditLabel">Create or edit a Part</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!part.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="part.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jugMainzHipsterApp.part.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="part.name" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jugMainzHipsterApp.part.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="part.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === part.product?.id ? part.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
