
<div *ngIf="part">
    <h2><span jhiTranslate="jugMainzHipsterApp.part.detail.title">Part</span> {{part.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jugMainzHipsterApp.part.name">Name</span></dt>
        <dd>
            <span>{{part.name}}</span>
        </dd>
        <dt><span jhiTranslate="jugMainzHipsterApp.part.product">Product</span></dt>
        <dd>
            <div *ngIf="part.product">
                <a [routerLink]="['/product-jug', part.product?.id]">{{part.product?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'part-jug/'+ part.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
